/* RED: #b31b1b
   GRAY: #e6e6e6
*/

body{
    margin:0;
    padding:0;
    margin-bottom:5%;
    font-family: "Raleway";
}

p{
    text-align: center;
}

p a{
    text-decoration: none;
    font-weight: 500;
    color: #a3a3a3;
}

.container {
    overflow: hidden;
    background-color: #b31b1b;
    width:100%;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight:500;
    border-bottom: 2px solid #e6e6e6;
    z-index: 1;
}

.container a {
    float: right;
    font-size: 16px;
    color: #f8f8f8;
    text-align: center;
    padding: 20px 30px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight:500;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    padding:0;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #9c1717;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#logo{
    padding:20px;
    padding-left:7%;
    width:15%;
}

h1{
    float:right;
    padding-right: 5%;
    padding-top: 50px;
    color:#b31b1b;
    font-weight: 900;
    font-size: 250%;
    font-family: 'Raleway', sanstext-serif;
    text-shadow: 1px 1px #e6e6e6;
}

.greyContainer{
    background-color: #e6e6e6;
    overflow: hidden;
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:3%;
    text-transform: uppercase;
}

.greyContainer a{
    background-color: white;
    color:#a6a6a6;
    font-weight: 900;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-family: 'Raleway', sans-serif;
}

.text{
    max-width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;;
    margin:auto;
}

.text h2{
    text-align: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    text-decoration: underline;
}

.text p{
    font-family: 'Raleway', sans-serif;
    color: #4d4d4d;
    line-height: 180%;
    text-indent: 50px;
}

.text img{
    float:right;
    width: 45%;
    padding-left: 3%;
}

.welcome{
    max-width: 100%;
    padding-top: 10px;
}

.welcome h2{
    font-size: 200%;
    text-align: center;
    color: #333333;
    font-family: 'Ubuntu Condensed', sans-serif;
}


/***** SIDEBAR *****/
.sidebar {
    margin-top:20%;
    margin-left: 1%;
    max-height: 50%;
    width: 10%;
    float: left;
    position: fixed;
    top: 0;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
}

.sidebar .search {
    position: relative;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 30%;
}

.sidebar ul li a {
    text-decoration: none;
    color: #101010;
}

.sidebar ul li a:hover {
    color: #b31b1b;
    font-weight: 500;
    transition: 700ms;
}

.sidebar ul li a:visited {
    border-bottom: 1px solid #b31b1b;
    padding-bottom: 2px;
}

.sidebar ul li.selected a {
    color: #b31b1b;
    border-bottom: 1px solid #b31b1b;
}


/***** EBOARD *****/
.content {
    width: 80%;
    margin-left: 15%;
}

.gallery {
    display: inline-block;  
    margin-left: 3%;
    width: 100%;
}
.picture {
    display: inline-block;
    position: relative;
    margin-right: 1%;
}

.picture img {
    width: 200px;
    height: 200px;
    transition: 0.5s ease;
}

.picture:hover img {
    opacity: 0.3;
}

.picture:hover span.deets {
    opacity: 1;
}

.picture span.deets {
    /*centering text in middle of picture */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    opacity: 0;
    transition: 0.5s;
}

.messages {
    max-width: 85%;
    margin:auto;
    font-family: 'Montserrat', sans-serif;
}
.messages h2{
    text-align: center;
}
.messages p{
    text-align: center;
}

.text h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
}

.text h4{
    text-align: center;
}

.text a{
    color: #4d4d4d;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.error{
    color:#b31b1b;
    font-weight: bold;
}

.textbeside{
    width: 80%;
    margin-left: 10%;
}

.textbeside h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 900;
}

.textbeside h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.textbeside p{
    font-family: 'Raleway', sans-serif;
    text-indent: 50px;
    line-height: 150%;
    text-align: left;
}

form {
    text-align: center;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    text-align:left;
}

table td{
    padding:5px;
}


.button {
  text-align: center;
  border:1px solid #858585;
  padding:7px 10px;
  font-size:12px;
  background-color:#ffffff;
  font-family: "Raleway";
  text-align: center;
  text-decoration: none;
  color:black;

}

input[type=text]{
    font-size:12pt;
}

input[type=password]{
    font-size:12pt;
}

/* ALL PHOTOS AND ALBUMS */
a.unstyled-link:link, a.unstyled-link:visited, a.unstyled-link:hover, a.unstyled-link:active {
    color: #191919;
}

.image-container {
    height: 23%;
    width: 23%;
    display: inline-block;
    margin: 3px;
    margin-top: 5px;
    position: relative;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
}

.image-container:hover img{
    opacity: 0.3;
}

.image-container:hover span.deets {
    opacity: 1;
}

.image-container span.deets {
    /*centering text in middle of picture */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    opacity: 0;
    transition: 0.5s;
}

.album-container {
    height: 40%;
    width: 40%;
    display: inline-block;
    position: relative;
    margin-right: 8%;
    margin-bottom: 2%;
}

.album-container img {
    max-height: 100%;
    max-width: 100%;
}

.album-container:hover img {
    opacity: 0.3;
}


.album-container:hover span.deets {
    opacity: 1;
}

.album-container span.deets {
    /*centering text in middle of picture */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    opacity: 0;
    transition: 0.5s;
}

h2.album-title {
    display: inline;
}

.top-bar {
    margin-bottom: 2%;
}

.top-bar h3 {
    display: inline;
}

.top-bar .search{
    float:right;
    margin-right: 5%;
    font-family: 'Raleway', sans-serif;
}


/* SINGLE PHOTO */

.single-container {
    margin: 10px auto;
}

.single-container img {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.single-container h2 {
    text-align: center;
}

/* SINGLE ALBUM */
.single-album-content {
    margin-left: 5%;
}

.single-album-container {
    height: 23%;
    width: 23%;
    display: inline-block;
    margin: 3px;
    margin-top: 5px;
    position: relative;
}

.single-album-container img {
    max-height: 100%;
    max-width: 100%;
}


/* CONTACTS */
.contacts{
    width: 80%;
    margin: auto;
}

.contacts .column1{
    border-top: 2px solid;
    border-top-color: #e6e6e6;
    width: 48%;
    float:left;
}

.contacts .column2{
    border-top: 2px solid;
    border-top-color: #e6e6e6;
    width: 48%;
    float:right;
    display: inline-block;
}

.contacts h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 900;
}

.contacts h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 900;
}

.contacts p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 150%;
}

.contacts a{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color:black;
    line-height: 150%;
    text-decoration: underline;
}

.contacts #contactimg{
    width: 70%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#contactimg img{
    width: 100%;
}

.contacts #map{
    width:70%;
    height:250px;
    margin:auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.search{
    padding-top: 10px;
    padding-bottom: 10px;
    float:right;
    margin-right: 5%;
    font-family: 'Raleway', sans-serif;
}
.albuminfo{
    width: 95%;
    margin-left: 3%;
}
.albuminfo p{
    text-align: left;