/* RED: #b31b1b
   GRAY: #e6e6e6
*/

body{
    margin:0;
    padding:0;
    font-family: 'Raleway';
}
.container {
    overflow: hidden;
    background-color: #b31b1b;
    width:100%;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight:500;
    border-bottom: 2px solid #e6e6e6;
}

.container a {
    float: right;
    font-size: 16px;
    color: #e6e6e6;
    text-align: center;
    padding: 20px 30px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight:500;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    padding:0;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #9c1717;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#logo{
    padding:20px;
    padding-left:7%;
}

.greyContainer{
    background-color: #e6e6e6;
    overflow: hidden;
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:40px;
    text-transform: uppercase;
}

.greyContainer a{
    background-color: white;
    color:#C4C4C4;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}

#logoDiv{
    padding-top:50px;
}

/***** SIDEBAR *****/
.sidebar {
    height: 100%;
    width: 13%;
    display: inline-block;
    background-color: #e6e6e6;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 30%;
    padding-right: 40%;
}

.sidebar ul li a {
    text-decoration: none;
    color: #101010;
}

.sidebar ul li a:hover {
    color: #b31b1b;
    transition: 700ms;
}

.sidebar ul li a:visited {
    border-bottom: 1px solid #b31b1b;
    padding-bottom: 2px;
}

/***** EBOARD *****/
#eboard {
    display: inline-block;
}

#eboard img {
    width: 200px;
    height: 200px;
}

#eboard img:hover {
    opacity: 0.7;
}